<div class="clear"></div>
<input type="date" id="{{ datas.id }}" name="{{ datas.slug }}" value="{{ datas.value|raw }}" class="datepicker uk-input" {% if datas.validate is defined %} required {% endif %}>