<div class="uk-margin"  >
	<input class="uk-input" id="{{ datas.id }}" name="{{ datas.slug }}"  value="{% if datas.value is defined %}{{ datas.value|raw }}{% endif %}" type="email"   {% if datas.validate is defined %} required {% endif %}>
    
</div>