

 <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" id="{{ datas.id }}" name="{{ datas.slug }}" placeholder="Textarea" {% if datas.validate is defined and datas.validate=="true" %} required {% endif %}>{{ datas.value|raw }}</textarea>
</div>