<div class="clear"></div>




<div class="uk-margin">
  <select class="uk-select" id="{{ datas.id }}" name="{{ datas.slug }}">
    <option value="" {% if datas.value == "" %}selected {% endif %}>Non défini</option>
      {% for option in datas.folders %}
      
      <option value="{{ option.id }}" {% if datas.value == option.id %} selected {% endif %} >{{ option.titre }}</option>
        
     {% endfor %}
  </select>
</div>