<div class="uk-margin">
	<textarea  class="uk-textarea" id="{{ datas.id }}" rows="4" name="{{ datas.slug }}"  {% if datas.validate is defined %} required {% endif %}>{{ datas.value|raw }}</textarea>
</div>
