

<div class="uk-margin">
	<input class="uk-input to_encode" id="{{ datas.id }}" name="{{ datas.slug }}"  value="{% if datas.value is defined %}{{ datas.value|raw }}{% endif %}" type="text"   {% if datas.disabled is defined and datas.disabled=="true" %} disabled {% endif %}  {% if datas.validate is defined and datas.validate=="true"  %} required {% endif %} >
    
</div>

