{% extends "layout_connect.twig" %}

 {% block content %}
 

 							
 						
 						{% if 
 							user.type==1 or 
 							user.type==2 and in_array("c",parametres.permissions_folders)
 						 %}
 						 <a href="{{ local }}folders/new/" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.addcat }}; pos: right"><i class="icon icon-plus2"></i></a>

<div class="clear"></div>
<div class="space"></div>
 																
 						{% endif %}										
 								

 								
 <div class="uk-dark">				
 <h3>{% if pagetitre is defined %}<a class="page-title truncate">{{pagetitre}}</a> {% endif %}</h3>		
 </div> 
<ul id="sortable" data-table="folders" class="collection sortable uk-sortable-handle" uk-sortable="handle: .handle">
	
	{% for folder in folders  %}
    


			
			{% if folder.page=='true' %}
 								{% set infos = '- <span class="uk-badge">Pages.</span>' %}	
 							{% else %}
 								{% set infos = '- <span class="uk-badge">Datas.</span>' %}	
 							{% endif %}
 					
 							{% include 'card_generique.twig' with {
 								'id':folder.id,
 								'titre':folder.titre,
 								'ref':folder.ref,
 								'statut':folder.statut,
 								'ordre':folder.ordre,
 								'infos':infos,
 								'language':languages,
 								'appurl':local,
 								'usertype':user.type,
 								'card_type':"folders",
 								'perm2':folder.perm2,
 								'perm3':folder.perm3,
 								'parametres':parametres
 								} only %}
			
	
	
	{% endfor %}
   
</ul>

 					
 		 

 
 

 
 
 {% endblock %}