{% extends "layout.twig" %}

{% block content %}

<section class="center ">

	

		
<div class="div404 valign-wrapper center">
	<div >
			<h2 class="reveal reveal-0 h1404">404</h2>
			<div class="reveal reveal-2 txt404">Page not found.</div>
	</div>

</div>
	

	</section>




{% endblock %} 