{# metas #}

					
<h1 class="uk-h3">Url</h1>
	
{% include 'url_encode.twig' with {'datas': { 
								'id': 'url',
								'slug': 'url',
								'value': article.url,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':'',
								'validate':'false'
							} }  only %}
							
{% include 'blockquote.twig' with {'string': languages.infosurl   }  only %}
<hr class="uk-divider-small">

						
<h1 class="uk-h3">Méta Title</h1>
						
							{% include 'meta_title.twig' with {'datas': { 
								'id': 'title',
								'slug': 'title',
								'value': article.title,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':'',
								'validate':'false'
							} }  only %}

{% include 'blockquote.twig' with {'string': languages.metatitle   }  only %}					
<hr class="uk-divider-small">						
												
						
						
<h1 class="uk-h3">Méta Description</h1>
							
							{% include 'meta_description.twig' with {'datas': { 
								'id': 'description',
								'slug': 'description',
								'value': article.description|raw,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':'',
								'validate':'false'
							} }  only %}
				
{% include 'blockquote.twig' with {'string': languages.metadesc   }  only %}					
<hr class="uk-divider-small">						
										
						
						
											
						
						
						 <input  id="region" type="hidden" value="">
						<!--<div class="clear"></div>			   
					
						<button type="submit" class="btn btn-primary btn-lg" id="submitarticle" >Sauvegarder</button>-->
						
{# end metas #}	