<!doctype html>
<html>
    <head>
    {% include 'header.twig' %}  
    </head>
    <body >

<div class="hide" data-url="{{root}}" id="data_url"></div>
<div class="hide" data-url="{{root}}api/v1/" id="data_url_api"></div>
<div class="hide" data-url="{{local}}" id="data_url_local"></div>
<div class="hide" data-status="{{ auth }}" id="data_connected"></div>

      {% block content %}{% endblock %}
      
      {% include 'footer.twig' %}  
    </body>
</html>
