<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="noindex,nofollow" >
	
<title>Drgstr CMS</title>
<link rel="shortcut icon" href="{{ assets }}img/ico.png" type="image/png" />