<div class="share center">
    <i class="icon icon-facebook" data-sharer="facebook" data-width="800" data-height="600" data-title="Checkout Sharer.js!" data-url="{{ root }}{{ page.url }}"></i> 
</div>